server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        encrypt:
          enabled: false
        git:
          uri: git@github.com:kimminjie/aiion-secrets.git
          default-label: main
          ignore-local-ssh-settings: true
          strict-host-key-checking: false
          host-key:
          host-key-algorithm:
          private-key: ${CONFIG_SERVER_PRIVATE_KEY}
          

management:
  endpoints:
    web:
      exposure:
        include: refresh
  endpoint:
    shutdown:
      enabled: true
    health:
      show_details: always

encrypt:
  key: my-secret